x-usage: &default-usage
  # Max Usage Limits
  mem_limit: ${MEM_LIMIT:-2G} # Override per container if necessary
  memswap_limit: ${MEM_SWAP_LIMIT:-2.5G}
  mem_reservation: ${MEM_RESERVATION:-64M}
  pids_limit: ${PIDS_LIMIT:-200}
  cpus: ${CPUS_LIMIT:-2} # Set below the total number of cores, for example 3.5 for 4 cores

x-restart: &default-restart
  # Restart Settings
  stop_grace_period: ${RESTART_GRACE:-1m}
  restart: ${RESTART_MODE:-unless-stopped}

x-security: &default-security
  # Configure User and Security Opts
  user: ${PUID:-1000}:${PGID:-1000}
  security_opt:
   - no-new-privileges=true
x-logging: &default-logging
  # Configure Logging
  logging:
    options:
      max-size: ${LOG_MAX_SIZE:-10m}
      max-file: ${LOG_MAX_FILE:-3}

x-base: &default-base
  <<: [*default-usage, *default-restart, *default-security, *default-logging]

x-healthcheck: &default-healthcheck
  interval: ${HEALTH_INTERVAL:-60s}
  timeout: ${HEALTH_TIMEOUT:-10s}
  retries: ${HEALTH_RETRIES:-5}
  start_period: ${HEALTH_START:-10s}

x-environment: &default-environment
  TZ: ${TZ:-America/Chicago}
  PUID: ${PUID:-1000}
  PGID: ${PGID:-1000}
 
# Compose Project Name
name: dozzle

services:
  dozzle-agent:
    <<: *default-base
    image: amir20/dozzle:${DOZZLE_VESION:-latest}
    hostname: ${COMPOSE_PROJECT_NAME}-${SERVER_NAME}.${DOMAIN_NAME}
    container_name: ${COMPOSE_PROJECT_NAME}-${SERVER_NAME}
    command: agent
    ports:
      - "7007:7007"
    environment:
      <<: *default-environment
      DOCKER_HOST: tcp://${COMPOSE_PROJECT_NAME}-socket-proxy:2375
      DOZZLE_HOSTNAME: ${COMPOSE_PROJECT_NAME}-${SERVER_NAME}.${DOMAIN_NAME}
    #labels: ## WUD Labels
    #  #- 'wud.tag.include=^\d+\.\d+\.\d+$$'
    #  #- 'wud.link.template=https://github.com/amir20/dozzle/releases/tag/v$${major}.$${minor}.$${patch}'
    networks:
      - frontend
      - socket_proxy
    depends_on:
      socket-proxy:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      <<: *default-healthcheck

  socket-proxy:
    <<: [*default-usage, *default-restart, *default-logging]
    image: lscr.io/linuxserver/socket-proxy:${SOCKET_PROXY_VESION:-latest}
    container_name: "${COMPOSE_PROJECT_NAME}-socket-proxy"
    environment:
      <<: *default-environment
      ALLOW_START: 0 #optional
      ALLOW_STOP: 0 #optional
      ALLOW_RESTARTS: 0 #optional
      AUTH: 0 #optional
      BUILD: 0 #optional
      COMMIT: 0 #optional
      CONFIGS: 0 #optional
      CONTAINERS: 1 #optional
      DISABLE_IPV6: 0 #optional
      DISTRIBUTION: 0 #optional
      EVENTS: 1 #optional
      EXEC: 0 #optional
      IMAGES: 0 #optional
      INFO: 1 #optional
      LOG_LEVEL: info #optional
      NETWORKS: 0 #optional
      NODES: 0 #optional
      PING: 1 #optional
      PLUGINS: 0 #optional
      POST: 0 #optional
      SECRETS: 0 #optional
      SERVICES: 0 #optional
      SESSION: 0 #optional
      SWARM: 0 #optional
      SYSTEM: 0 #optional
      TASKS: 0 #optional
      VERSION: 1 #optional
      VOLUMES: 0 #optional
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    userns_mode: "host"
    networks:
      - socket_proxy
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:2375/version"]
      <<: *default-healthcheck
    read_only: true
    tmpfs:
      - /run

networks:
  frontend:
    name: ${TRAEFIK_NETWORK}
    external: true
  socket_proxy:
    internal: true
    driver_opts:
      encrypted: "true"

